.navigator {
	padding-bottom:1px; /* 2=3-1 */
	margin-top:15px;
	padding-left:20px;
	/*border-bottom:1px solid black; /* 1=3-2 */
	background-color:#21374c;
}
.navigator li {
	display:inline;
	list-style:none;
	padding-right:0.5em;
}
.navigator li a {
	font-family:Microsoft YaHei;
	font-size:1.1em;
	color:white;
	text-decoration:none;
	padding:5px 9px 5px 9px;
}
.navigator li a.current_nav{
	cursor:pointer;
	color:black;
	font-weight:bold;
	background-color:white;
}
.navigator li a.current_nav:hover {
	cursor:pointer;
	color:black;
	background-color:white;
}
.navigator li a:hover {
	color:black;
	cursor:pointer;
	background-color:white;
	text-decoration:none;
}

#s4-mini-header{
	border-bottom:0px !important;
	padding-bottom:0px !important;
}
